@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root{
	--purple: #5c5e99;
	--pink: #db8588;
}

*{
	font-family: Lobster;
	user-select: none;
}

#app {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3vh 3vw;
}

button:focus{
	outline: none;
}

button{
	cursor: pointer;
}

#loading-image{
	cursor: pointer;
	background-image: url("./images/title.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 45vh 45vw;
}

button.back{
	position: absolute;
	height: 4em;
	width: 4em;
	background-image: url("./images/back.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff0;
	border: none;
	top: 2em;
	left: 2em;
	opacity: 0.7;
}

button.back:hover{
	height: 4.4em;
	width: 4.4em;
	opacity: 1;
}